certifi==2021.5.30
chardet==4.0.0
click==8.0.1
Flask==2.0.1
idna==2.10
importlib-metadata==4.6.0
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
pydantic==1.8.2
requests==2.25.1
requests-cache==0.6.4
six==1.16.0
Tkinter==0.0.0
typing-extensions==3.10.0.0
url-normalize==1.4.3
urllib3==1.26.6
uuid==1.30
Werkzeug==2.0.1
zipp==3.4.1
